**/target/
crates/zed/tooling/sum_tree_oracle/Cargo.lock
**/.zig-cache/
.cargo-home/
**/zig-out/
.tmp-dzed/
.tmp-zed/
.tmp-vim-formatter/
.tmp-vim-script/
.tmp-vim-regex/
reference/

**/__pycache__/
*.py[cod]
crates/zed/tooling/rope_oracle/Cargo.lock
